:root {
  --mdc-theme-primary: #f4511e;
  --mdc-theme-accent: #455a64;
}

$anchors: 'a, a:active, a:hover, a:visited';
$anchors-hover: 'a:active, a:hover';

header {
  section {
    button {
      left: -16px;
      top: -16px;
    }
    #{$anchors} {
      text-decoration: none;
      color: #fff;
    }
  }
}

main {
  .mdc-toolbar-fixed-adjust {
    margin-top: 72px;
  }
}
